@model GAS_Portal.Models.Utente

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<body class="app">
    <div class="app-wrapper">

        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Ficha do Utente</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                            </div><!--//row-->
                        </div><!--//table-utilities-->
                    </div><!--//col-auto-->
                </div><!--//row-->
                <form class="settings-form" asp-action="Edit">
                    <div class="row g-4 no-gutters settings-section">
                        <div class="col-12 col-md-6" style="padding-right: 0;">
                            <div class="app-card app-card-settings shadow-sm p-4">
                                <div class="app-card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="NIF" class="form-label"></label>
                                        <input asp-for="NIF" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="CodigoPostal" class="form-label"></label>
                                        <input asp-for="CodigoPostal" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Localidade" class="form-label"></label>
                                        <input asp-for="Localidade" class="form-control" />
                                    </div>
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </div><!--//col-->
                        <div class="col-12 col-md-6" style="padding-left: 0;">
                            <div class="app-card app-card-settings shadow-sm p-4">
                                <div class="app-card-body">
                                    <div class="form-group mb-3">
                                        <label asp-for="Nome" class="form-label"></label>
                                        <input asp-for="Nome" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Data" class="form-label"></label>
                                        <input asp-for="Data" class="form-control" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label asp-for="Telemovel" class="form-label"></label>
                                        <input asp-for="Telemovel" class="form-control" />
                                    </div>
                                </div><!--//app-card-body-->
                            </div><!--//app-card-->
                        </div><!--//col-->
                    </div><!--//row-->
                    <br />
                    @*<button id="editBtn" type="button" class="btn app-btn-primary">Editar</button>*@
                    <div class="form-group">
                        <input type="submit" value="Confirmar" class="btn app-btn-primary" />
                    </div>
                </form>
            </div><!--//container-fluid-->
        </div><!--//app-content-->

        <footer class="app-footer">
            <div class="container text-center py-3">
                <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
                <p class="mt-5 mb-3 text-muted">&copy;GAS</p>

            </div>
        </footer><!--//app-footer-->

    </div><!--//app-wrapper-->
    <!-- Javascript -->
    <script src="~/plugins/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Page Specific JS -->
    <script src="~/js/app.js"></script>
    <script src="~/js/site.js"></script>
</body>



@*<h1>Editar</h1>

<body class="app">
    <div class="app-wrapper">
        <div class="app-content">
            <div class="container-xl">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <h4>Utentes</h4>
                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div class="form-group">
                                    <label asp-for="CodigoUtente" class="control-label"></label>
                                    <input asp-for="CodigoUtente" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="CodigoCDP" class="control-label"></label>
                                    <input asp-for="CodigoCDP" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="CodigoPAR" class="control-label"></label>
                                    <input asp-for="CodigoPAR" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Entidade_Gestora" class="control-label"></label>
                                    <input asp-for="Entidade_Gestora" class="form-control" />
                                </div>
                                <input type="hidden" asp-for="ID" />
                                <div class="form-group">
                                    <label asp-for="Data" class="control-label"></label>
                                    <input asp-for="Data" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="RGPD" class="control-label"></label>
                                    <input asp-for="RGPD" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Direito_Esquecimento" class="control-label"></label>
                                    <input asp-for="Direito_Esquecimento" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="NIF" class="control-label"></label>
                                    <input asp-for="NIF" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="SNS" class="control-label"></label>
                                    <input asp-for="SNS" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Nome" class="control-label"></label>
                                    <input asp-for="Nome" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Morada" class="control-label"></label>
                                    <input asp-for="Morada" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="NrPorta" class="control-label"></label>
                                    <input asp-for="NrPorta" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Local" class="control-label"></label>
                                    <input asp-for="Local" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="CodigoPostal" class="control-label"></label>
                                    <input asp-for="CodigoPostal" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Localidade" class="control-label"></label>
                                    <input asp-for="Localidade" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Freguesia" class="control-label"></label>
                                    <input asp-for="Freguesia" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Concelho" class="control-label"></label>
                                    <input asp-for="Concelho" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Distrito" class="control-label"></label>
                                    <input asp-for="Distrito" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Pais" class="control-label"></label>
                                    <input asp-for="Pais" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Telemovel" class="control-label"></label>
                                    <input asp-for="Telemovel" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="DataNascimento" class="control-label"></label>
                                    <input asp-for="DataNascimento" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Sexo" class="control-label"></label>
                                    <input asp-for="Sexo" class="form-control" />
                                </div>
                                <br />
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>

@*
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
*@