html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

form [disabled] {
    background-color: #ffffff;
    color: #3e3e3e;
    border: none;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

